@model myPatisserie.Models.CakeViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Cake</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div>
                @Model.Name
            </div>
            <div>
                @Model.Description
            </div>
            <div><img src="~/images/@Model.ImageUrl" /></div>
            <div>
                @Model.Price
            </div>
        </div>
        <div class="col-md-6">
            @{
                foreach (var item in Model.Comments)
                {
            <div style="border-bottom:1px solid gray">
                <div style="margin-top:10px;margin-top: 30px;font-size:20px;">@item.CommentStr</div>
                <div style="margin-top:5px;font-size:10px;color:gray;text-align:right; ">@item.User.UserName</div>
            </div>
                }

            }

            @using (Html.BeginForm("AddComment", "Patisserie", FormMethod.Post))
            {
                <div class="form-group">
                    <input type="hidden" id="CakeId" name="CakeId" value="@Model.Id" />

                    <input type="hidden" id="UserId" name="UserId" value="@Session["UserId"]" />

                    <textarea class="form-control" name="CommentStr" id="CommentStr" cols="40" rows="5"></textarea>
                </div>

                <input type="submit" value="Save" />



            }

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
